@import('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
	font-family: 'Androgyne', sans-serif;
   background: #85D315 url('img/bg1.png');
   letter-spacing: -1px;
   font-size: 12px;
   cursor: default;
	animation: fuck 10s linear infinite;
}

body.fuck {
   background-image: url('img/bg.png');
	animation: fuck 10s linear infinite,
	           fuckcolor 100ms linear 3;
}

@keyframes fuckcolor {
  0%,100% { background: hsl(0,   100%, 60%); }
  25% {     background: hsl(90,  100%, 60%); }
  50% {     background: hsl(180, 100%, 60%); }
  75% {     background: hsl(270, 100%, 60%); }}

@keyframes fuck {
  0% {background-position: 0px 0px;}
  100% {background-position: 294px 199px;}
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12em;
  width: 30em;
  background: #c0c0c0;
  border-radius: 6px 6px 0 0;
  border: 1px solid #111;
  border-top: 1px solid #36363c;
  transform: translate(-50%, -50%);
}

*::selection {
   color: inherit; background: transparent;
}

.header {
  background: #36363c;
  height: 21px;
  border-radius: 4px 3px 0 0;
  color: #fff;
  font-weight: bold;
}

.title {
  display: inline-block;
  padding: 0.25em;
}

.btn-close {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 13px;
  padding: 0 4px;
  background: #898992;
  border-radius: 3px;
  border: 1px solid white;
}

.image {
  position: absolute;
  height: 60px;
  width: 55px;
  top: 35px;
  left: 20px;
  background-size: cover;
  background-image: url("img/picture.png");
}

.window p {
  position: absolute;
  top: 36px;
  left: 94px;
  font-size: 14px;
}

.buttons {
  margin-top: 117px;
  position: relative;
}

.main button {
  padding: 3px;
  width: 74px;
  background: #c0c0c0;
  border: 2px solid white;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  box-shadow: 1px 1px 0 #111;
  outline: 0;
  position: absolute;
  bottom: 15px;
  right: 197px;
}

.main button:nth-of-type(2) {
  right: 109px;
}

.main button:last-child {
  right: 22px;
}

button:active {
  background: #b0b0b0;
  border-color: #333;
  box-shadow: -1px -1px 0 #666;
  border-right-color: white;
  border-bottom-color: white;
}
